Dag1/bin/Debug/net9.0/Dag1
Dag1/bin/Debug/net9.0/Dag1.deps.json
Dag1/bin/Debug/net9.0/Dag1.dll
Dag1/bin/Debug/net9.0/Dag1.pdb
Dag1/bin/Debug/net9.0/Dag1.runtimeconfig.json
Dag1/obj/Dag1.csproj.nuget.dgspec.json
Dag1/obj/Dag1.csproj.nuget.g.props
Dag1/obj/Dag1.csproj.nuget.g.targets
Dag1/obj/project.assets.json
Dag1/obj/project.nuget.cache
Dag1/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Dag1/obj/Debug/net9.0/apphost
Dag1/obj/Debug/net9.0/Dag1.AssemblyInfo.cs
Dag1/obj/Debug/net9.0/Dag1.AssemblyInfoInputs.cache
Dag1/obj/Debug/net9.0/Dag1.assets.cache
Dag1/obj/Debug/net9.0/Dag1.csproj.CoreCompileInputs.cache
Dag1/obj/Debug/net9.0/Dag1.csproj.FileListAbsolute.txt
Dag1/obj/Debug/net9.0/Dag1.dll
Dag1/obj/Debug/net9.0/Dag1.GeneratedMSBuildEditorConfig.editorconfig
Dag1/obj/Debug/net9.0/Dag1.genruntimeconfig.cache
Dag1/obj/Debug/net9.0/Dag1.GlobalUsings.g.cs
Dag1/obj/Debug/net9.0/Dag1.pdb
Dag1/obj/Debug/net9.0/ref/Dag1.dll
Dag1/obj/Debug/net9.0/refint/Dag1.dll
AdventOfCode.sln
Dag1/Dag1.csproj
Dag1/bin/Debug/net9.0/input.txt
