AdventOfCode.sln
Dag1/Program.cs
Dag1/Deel1/Deel1.csproj
Dag1/Deel1/bin/Debug/net9.0/Dag1
Dag1/Deel1/bin/Debug/net9.0/Dag1.deps.json
Dag1/Deel1/bin/Debug/net9.0/Dag1.dll
Dag1/Deel1/bin/Debug/net9.0/Dag1.pdb
Dag1/Deel1/bin/Debug/net9.0/Dag1.runtimeconfig.json
Dag1/Deel1/bin/Debug/net9.0/Deel1
Dag1/Deel1/bin/Debug/net9.0/Deel1.deps.json
Dag1/Deel1/bin/Debug/net9.0/Deel1.dll
Dag1/Deel1/bin/Debug/net9.0/Deel1.pdb
Dag1/Deel1/bin/Debug/net9.0/Deel1.runtimeconfig.json
Dag1/Deel1/bin/Debug/net9.0/input.txt
Dag1/Deel1/obj/Dag1.csproj.nuget.dgspec.json
Dag1/Deel1/obj/Dag1.csproj.nuget.g.props
Dag1/Deel1/obj/Dag1.csproj.nuget.g.targets
Dag1/Deel1/obj/Deel1.csproj.nuget.dgspec.json
Dag1/Deel1/obj/Deel1.csproj.nuget.g.props
Dag1/Deel1/obj/Deel1.csproj.nuget.g.targets
Dag1/Deel1/obj/project.assets.json
Dag1/Deel1/obj/project.nuget.cache
Dag1/Deel1/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Dag1/Deel1/obj/Debug/net9.0/apphost
Dag1/Deel1/obj/Debug/net9.0/Dag1.AssemblyInfo.cs
Dag1/Deel1/obj/Debug/net9.0/Dag1.AssemblyInfoInputs.cache
Dag1/Deel1/obj/Debug/net9.0/Dag1.assets.cache
Dag1/Deel1/obj/Debug/net9.0/Dag1.csproj.CoreCompileInputs.cache
Dag1/Deel1/obj/Debug/net9.0/Dag1.csproj.FileListAbsolute.txt
Dag1/Deel1/obj/Debug/net9.0/Dag1.dll
Dag1/Deel1/obj/Debug/net9.0/Dag1.GeneratedMSBuildEditorConfig.editorconfig
Dag1/Deel1/obj/Debug/net9.0/Dag1.genruntimeconfig.cache
Dag1/Deel1/obj/Debug/net9.0/Dag1.GlobalUsings.g.cs
Dag1/Deel1/obj/Debug/net9.0/Dag1.pdb
Dag1/Deel1/obj/Debug/net9.0/Dag1.sourcelink.json
Dag1/Deel1/obj/Debug/net9.0/Deel1.AssemblyInfo.cs
Dag1/Deel1/obj/Debug/net9.0/Deel1.AssemblyInfoInputs.cache
Dag1/Deel1/obj/Debug/net9.0/Deel1.assets.cache
Dag1/Deel1/obj/Debug/net9.0/Deel1.csproj.CoreCompileInputs.cache
Dag1/Deel1/obj/Debug/net9.0/Deel1.csproj.FileListAbsolute.txt
Dag1/Deel1/obj/Debug/net9.0/Deel1.dll
Dag1/Deel1/obj/Debug/net9.0/Deel1.GeneratedMSBuildEditorConfig.editorconfig
Dag1/Deel1/obj/Debug/net9.0/Deel1.genruntimeconfig.cache
Dag1/Deel1/obj/Debug/net9.0/Deel1.GlobalUsings.g.cs
Dag1/Deel1/obj/Debug/net9.0/Deel1.pdb
Dag1/Deel1/obj/Debug/net9.0/Deel1.sourcelink.json
Dag1/Deel1/obj/Debug/net9.0/ref/Dag1.dll
Dag1/Deel1/obj/Debug/net9.0/ref/Deel1.dll
Dag1/Deel1/obj/Debug/net9.0/refint/Dag1.dll
Dag1/Deel1/obj/Debug/net9.0/refint/Deel1.dll
Dag1/Deel2/Deel2.csproj
Dag1/Deel2/bin/Debug/net9.0/Deel2
Dag1/Deel2/bin/Debug/net9.0/Deel2.deps.json
Dag1/Deel2/bin/Debug/net9.0/Deel2.dll
Dag1/Deel2/bin/Debug/net9.0/Deel2.pdb
Dag1/Deel2/bin/Debug/net9.0/Deel2.runtimeconfig.json
Dag1/Deel2/obj/Deel2.csproj.nuget.dgspec.json
Dag1/Deel2/obj/Deel2.csproj.nuget.g.props
Dag1/Deel2/obj/Deel2.csproj.nuget.g.targets
Dag1/Deel2/obj/project.assets.json
Dag1/Deel2/obj/project.nuget.cache
Dag1/Deel2/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Dag1/Deel2/obj/Debug/net9.0/apphost
Dag1/Deel2/obj/Debug/net9.0/Deel2.AssemblyInfo.cs
Dag1/Deel2/obj/Debug/net9.0/Deel2.AssemblyInfoInputs.cache
Dag1/Deel2/obj/Debug/net9.0/Deel2.assets.cache
Dag1/Deel2/obj/Debug/net9.0/Deel2.csproj.CoreCompileInputs.cache
Dag1/Deel2/obj/Debug/net9.0/Deel2.csproj.FileListAbsolute.txt
Dag1/Deel2/obj/Debug/net9.0/Deel2.dll
Dag1/Deel2/obj/Debug/net9.0/Deel2.GeneratedMSBuildEditorConfig.editorconfig
Dag1/Deel2/obj/Debug/net9.0/Deel2.genruntimeconfig.cache
Dag1/Deel2/obj/Debug/net9.0/Deel2.GlobalUsings.g.cs
Dag1/Deel2/obj/Debug/net9.0/Deel2.pdb
Dag1/Deel2/obj/Debug/net9.0/Deel2.sourcelink.json
Dag1/Deel2/obj/Debug/net9.0/ref/Deel2.dll
Dag1/Deel2/obj/Debug/net9.0/refint/Deel2.dll
